{% extends "layout.html.twig" %}


{% block content %}

    <h1>{{ page.name_page }}</h1>

    {{ page.content | raw }}
         
    <date>{{ page.date_created }}</date><br />
    <date>{{ page.date_changed }}</date>
{% endblock %}