{% extends "layout.html.twig" %}


{% block content %}

    <h1>{{ page.name_page }}</h1>

    <ul class="menu2">
        {% for m in bcms.MenuController.submenu(page.id) %}
            <li><a href="{{ m.name_url }}">{{ m.name_menu }}</a></li>
        {% endfor %}
    </ul>

{{ page.html | raw }}

{% endblock %}