{% extends "layout.html.twig" %}


{% block content %}

    <h1>{{ page.name_page }}</h1>

    {% include template_from_string(page.content) %}
         
    <date>{{ page.date_created }}</date><br />
    <date>{{ page.date_changed }}</date>
{% endblock %}