{% extends "layout.html.twig" %}

{% block content %}
<div class="col_12" id="pageContent">

        {% if breadCrumbs|length > 1 %}
            <ul class="breadcrumbs">
                {% for b in breadCrumbs %}
                    {% if loop.last %}<li><a href="{{ b.url }}">{{ b.name }}</a></li>
                    {% else %}
                    <li><a href="{{ b.url }}">{{ b.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        
            <h1>{{ page.name_page }}</h1>
            {{ page.html|raw }}
    
</div>
{% endblock %}
