{% extends "admin/layout.html.twig" %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
	<div class="span9">
	    <h1>Files <small>Upload and manage files</small></h1>
	</div>
	<div class="span3">
	</div>
    </div>
    <hr>
    
    <div id="elfinder"></div>
    
{% endblock %}