{% for link in links %}
    {% set level = link.url | split('/') | length - 1 %}
    <option value="{{ link.id }}"{% if link.id == bcms.page.parent %} selected="selected"{% endif %} style="padding-left:{{ level * 10 }}px; font-size:{% if 14 - level < 11 %}{{ 11 }}{% else %}{{ 14 - level }}{% endif %}px">{{ link.name_menu }}</option>
    {% if link.childs %}
        {% include "admin/page-options.twig" with {'links': link.childs} %}
    {% endif %}
{% endfor %}